item-menu-pc.s-hide
  div.wrap-item.f.fc
    div.wrap-menu-pc.f.flex-middle
      atom-menu-li-pc(each='{item in contents}', content='{item}').mx16

  style(scoped, type='less').
    :scope {
      display: block;
      .wrap-item {
        .wrap-menu-pc {
          position: fixed;
          list-style: none;
          letter-spacing: 2px;
        }
      }
    }

  script.

    this.contents = [
      {label:'Top', data: 'module-top', href: '#'},
      {label:'About', data: 'module-about', href: '#'},
      {label:'Isuue Edition', data: 'module-isuue', href: '#getstarted/module-getstart-wif'},
      {label:'Add Aura', data: 'module-add', href: '#getstarted/module-addaura-wif'},
      {label:'Edition State', data: 'module-state', href: '#'},
      {label:'Management', data: 'module-management', href: '#'},
    ];
