item-h2
  div.wrap-item.f.fc
    h2 { opts.content }

  style(scoped, type='less').
    :scope {
      .wrap-item {
        h2 {
          display: inline-block;
          color: #FFF;
          text-align: center;
          font-weight: 400;
          letter-spacing: 1px;
          padding-bottom: 2px;
          border-bottom: solid 1.4px;
        }
      }
    }