item-menu-pc.s-hide
  div.wrap-item.f.flex-row-reverse
    div.wrap-menu-pc.f.flex-middle
      atom-menu-li-pc(each='{item in contents}', content='{item}').ml40

  style(scoped, type='less').
    :scope {
      display: block;
      .wrap-item {
        .wrap-menu-pc {
          position: fixed;
          list-style: none;
          letter-spacing: 2px;
        }
      }
    }

  script.

    this.contents = [
      {label:'Top', data: 'module-top'},
      {label:'About', data: 'module-about'},
      {label:'Editioin', data: 'module-edition'},
    ];
