module-editionstate-address
  div.wrap-module.f.fh
    div.wrap-content
      div.wrap-text.mb32
        item-text(each='{item in textContents}', content='{item}')
      div.wrap-info.mb60
        item-input(each='{item in infoContents}', content='{item}')
      div.wrap-button
        atom-button(content='{button}')#gertFormAddress

  style(scoped, type='less').
    :scope {
      display: block;
      width: 90%;
      margin: 0 auto;
      .wrap-module {
        min-height: 100vh;
        .wrap-content {
          word-break: break-all;
        }
      }
    }

  script.

    var self = this;

    this.on('update', function(){
      
      self.textContents = [
        'Please input address or wif key.',
      ];

      self.infoContents = [
        {
          label: 'Wif or Key',
          id: 'wifOrKey',
          comments: [
            '* Wif key and adress is created, when you issue editions.',
          ],
        },
      ];

      $('#gertFormAddress').on('click',function(){
        var wifOrKey = $('#wifOrKey').val();
        
        if(wifOrKey.length != 34 || wifOrKey.length != 52 || wif == ''){
          alert('Please input wif or address correctly.');
          return;
        }

        if(wifOrKey.length == 52){
          var address = Aura.createAddress(wif).address;
        }

        window.location.href = '#';
      });
      
    });

    this.button = {
      label: 'Next',
      //href: '#getstarted/module-getstart-select',
    }