module-addaura-add
  div.wrap-module.f.fh
    div.wrap-content
      div.wrap-text.mb32
        item-text(each='{item in textContents}', content='{item}')
      div.wrap-info.mb60
        item-input(each='{item in infoContents}', content='{item}')
      div.wrap-button
        atom-button(content='{button}')#confirmAura

  style(scoped, type='less').
    :scope {
      display: block;
      width: 90%;
      margin: 0 auto;
      .wrap-module {
        min-height: 100vh;
        .wrap-content {
          word-break: break-all;
        }
      }
    }

  script.

    var self = this;

    this.on('update', function(){
      
      self.textContents = [
        'Please input what Aura you add.',
      ];

      self.infoContents = [
          {
            label: 'Where',
            id: 'formWhere',
            comments: ['* The place or url where Digital Identity is.'],
          },
          {
            label: 'Right',
            id: 'formRight',
            comments: ['* What responsibility do you have about this edition ?'],
          },
          {
            label: 'Discription',
            id: 'formDiscription',
            comments: ['* Option'],
          },
      ];

      $('#confirmAura').on('click',function(){
        
        var where = $('#formWhere').val();
        var right = $('#formRight').val();
        var discription = $('#formDiscription').val();

        if(discription=="") discription = 'No Description'

        var txMeta = {
          where: where,
          right: right,
          discription: discription,
        };
        Aura.txMeta = txMeta;

        if(where==''){
          alert('Please input "Where".');
          return;
        }

        if(right==''){
          alert('Please input "Right".');
          return;
        }

      });
      
    });

    this.button = {
      label: 'Next',
      href: '#addaura/module-addaura-add-confirm',
    };