page-getstarted
  div.wrap-page
    module-header
    wrapper-form.f.fh

  style(scoped, type='less').
    :scope {
      display: block;
      min-height: 100vh;
      background: #00a0bc;
      .wrap-page {
        wrapper-form {
      
        }
      }
    }

  script.
