module-header
  div.wrap-module
    item-menu-pc
    //item-menu-icon-sp
    //item-menu-sp


  style(scoped, type='less').
    :scope {
      display: block;
      width: 100%;
      .wrap-module {
        width: 90%;
        max-width: 1048px;
        margin: 0 auto;
      }
    }

  script.
    