module-editionstate-noeditions
  div.wrap-module.f.fh
    div.wrap-content
      div.wrap-text.mb32
        item-text(each='{item in textContents}', content='{item}')
      div.wrap-button
        atom-button(content='{button}')

  style(scoped, type='less').
    :scope {
      display: block;
      width: 90%;
      margin: 0 auto;
      .wrap-module {
        min-height: 100vh;
        .wrap-content {
          display: block;
          word-break: break-all;
        }
      }
    }


  script.

    var self = this;

    self.textContents = [
      'There is no edition that you can add Aura to.',
      'Please issue new your editions.',
    ];

    this.button = {
      label: 'Isuue Edition',
      href: '#getstarted/module-getstart-wif',
    }