module-getstart-activate
  div.wrap-module.f.fh
    div.wrap-content
      div.wrap-text.mb32
        item-getstarted-text(each='{item in textContents}', content='{item}')
      div.wrap-info.mb60
        item-getstarted-input(each='{item in infoContents}', content='{item}')
      div.wrap-button
        atom-button(content='{button}')#buttonActivate

  style(scoped, type='less').
    :scope {
      display: block;
      width: 90%;
      margin: 0 auto;
      .wrap-module {
        min-height: 100vh;
        .wrap-content {
          word-break: break-all;
        }
      }
    }

  script.

    var self = this;

    this.on('update', function(){
      /*
      if(Aura.formContents == undefined){
        window.location.href = '#getstarted/module-getstart-wiff';
      }else{
      */
        self.infoContents = [
          {
            label: 'Where',
            id: 'formUrl',
            comments: ['* The place or url whre Digital Identity is.'],
          },
          {
            label: 'Right',
            id: 'formRight',
            comments: ['* What responsibility do you have about this edition ?'],
          },
          {
            label: 'Discription',
            id: 'formDiscription',
            comments: ['* Option'],
          },
        ];

        self.textContents = [
          'Please input what Aura you will add to.',
        ];

        $('#buttonActivate').on('click',function(){
          var assetMeta = {
            name: $('#formName').val(),
            sex: $('#formSex').val(),
            Nation: $('#formNation').val(),
          };
          Aura.formAssetMeta = assetMeta;
          
          // ここでフォームが全て入力されているかチェック

          window.location.href = '#getstarted/module-getstart-select';
        });
      //}
    });

    this.button = {
      label: 'Next',
      //href: '#getstarted/module-getstart-select',
    }