module-getstart-issue
  div.wrap-module.f.fh
    div.wrap-content
      div.wrap-text.mb32
        item-getstarted-text(each='{item in textContents}', content='{item}')
      div.wrap-info.mb60
        item-getstarted-input(each='{item in infoContents}', content='{item}')
      div.wrap-button
        atom-button(content='{button}')#buttonAssetMeta

  style(scoped, type='less').
    :scope {
      display: block;
      width: 90%;
      margin: 0 auto;
      .wrap-module {
        min-height: 100vh;
        .wrap-content {
          word-break: break-all;
        }
      }
    }

  script.

    var self = this;

    this.on('update', function(){
      /*
      if(Aura.formContents == undefined){
        window.location.href = '#getstarted/module-getstart-wiff';
      }else{
      */
        self.infoContents = [
          {
            label: 'Name',
            id: 'formName',
            comments: [],
          },
          {
            label: 'Sex',
            id: 'formSex',
            comments: [],
          },
          {
            label: 'Nation',
            id: 'formNation',
            comments: [],
          },
        ];

        self.textContents = [
          'Please input your personal data.',
        ];

        $('#buttonAssetMeta').on('click',function(){
          var assetMeta = {
            name: $('#formName').val(),
            sex: $('#formSex').val(),
            nation: $('#formNation').val(),
          };
          Aura.formAssetMeta = assetMeta;
          
          // ここでフォームが全て入力されているかチェック

          window.location.href = '#getstarted/module-getstart-select';
        });
      //}
    });

    this.button = {
      label: 'Next',
      //href: '#getstarted/module-getstart-select',
    }